.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px 40px;
  backdrop-filter: none; /* Remove blur effect */
  position: sticky;
  top: 0;
  z-index: 1000;
  border: 1px solid #1c1b1b;
  background-color: #000306;
}

.logoPlaceholder {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.logo {
  height: 40px;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.navLinksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ensure it spans the full width */
  margin-top:2%;
}

.navLinks {
  display: flex;
  justify-content: center;
  gap: 16px; /* Add gap between links */
  margin-right: 6%; /* Add 6% margin to the right */
  margin-bottom:1.5%;
}

.navLink {
  text-decoration: none;
  color: white; /* Change text color to white */
  font-size: 16px;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: #007BFF;
}

.ctaButton {
  padding: 8px 16px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.ctaButton:hover {
  background-color: #0056b3;
}

.navButton {
  display: inline-block; /* Ensure it behaves like an inline-block element */
  font-family: "Sohne", sans-serif; /* Use the specified font */
  font-size: 9pt; /* Match the provided font size */
  font-weight: 600; /* Make the font semi-bold */
  padding: 0.25rem 0.5rem; /* Match the provided padding */
  background: #1a1a1a; /* Dark gray background */
  color: #b3b3b3; /* Light gray text color */
  border-radius: 12px; /* Rounded corners for squircle effect */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s ease, background-color 0.3s ease; /* Smooth transition */
}

.navButton:hover {
  color: rgba(0, 0, 0, 0.8); /* Darker text on hover */
  background: #ff007a; /* Pink background on hover */
}

.navButton:nth-child(1):hover {
  background: #ff007a; /* Candy pink */
  transform: scale(1.05);
  color: white; /* Ensure text color remains white */
}

.navButton:nth-child(2):hover {
  background: #007BFF; /* Bright blue */
  transform: scale(1.05);
  color: white; /* Ensure text color remains white */
}

.navButton:nth-child(3):hover {
  background: #28a745; /* Green */
  transform: scale(1.05);
  color: white; /* Ensure text color remains white */
}

.navButton:nth-child(4):hover {
  background: #ffc107; /* Yellow */
  transform: scale(1.05);
  color: white; /* Ensure text color remains white */
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
  }

  .navLinks.open {
    display: flex;
  }
}
