.space-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure it is behind other elements */
  overflow: hidden;
  background: #000;
}

.stars {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('/workfluent/stars.png') repeat; /* Ensure pathPrefix is included */
  z-index: 1;
}

.twinkling {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('/workfluent/twinkling.png') repeat; /* Ensure pathPrefix is included */
  animation: move-twink-back 200s linear infinite;
  z-index: 2;
}

.clouds {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('/workfluent/clouds.png') repeat; /* Ensure pathPrefix is included */
  animation: move-clouds-back 200s linear infinite;
  z-index: 3;
}

@keyframes move-twink-back {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
